* {
  font-family: 'Wire One', sans-serif;
  color: black;
}

.parallax {
  /*first image*/
  background-image: ("welcome.jpg");
  /*height used*/
  min-height: 500px;
  /*creates  the scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

row-1
