body, html {
  height: 100%;
}

.parallax {
  /*first image*/
  background-image: url('../img/welcome.jpg');
  /*height used*/
  min-height: 20%;
  /*creates  the scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: 'Wire One', sans-serif;
  color: black;
}
